apiVersion: apps/v1
kind: Deployment
metadata:
  name: test-server
  namespace: test-server
spec:
  replicas: 2
  selector:
    matchLabels:
      app: test-server
  template:
    metadata:
      labels:
        app: test-server
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
        seccompProfile:
          type: RuntimeDefault
      volumes:
        - name: test-config
          configMap:
            name: test-config
        - name: test-secret
          secret:
            secretName: test-secret
      containers:
        - name: test-server
          image: ghcr.io/gr1m0h/test-server/test-server:latest
          imagePullPolicy: IfNotPresent
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
          ports:
            - containerPort: 80
          resources:
            limits:
              memory: "512Mi"
              cpu: "100m"
            requests:
              memory: "256Mi"
              cpu: "50m"
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
              httpHeaders:
                - name: Host
                  value: KubernetesLivenessProbe
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8080
              httpHeaders:
                - name: Host
                  value: KubernetesReadinessProbe
          env:
            - name: LOG_LEVEL
              valueFrom:
                configMapKeyRef:
                  name: test-config
                  key: log_level
            - name: USERNAME
              valueFrom:
                secretKeyRef:
                  name: test-secret
                  key: user
            - name: PASSWORD
              valueFrom:
                secretKeyRef:
                  name: test-secret
                  key: password
